<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>vrl-file-icon.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vrlp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VRL Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>run.sh</string>
	<key>CFBundleGetInfoString</key>
	<string>HEAD (2009-2011 by Michael Hoffer)</string>
	<key>CFBundleIconFile</key>
	<string>vrl-icon-osx.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VRL-Studio</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.3</string>

	<key>NSHighResolutionCapable</key>
	<string>True</string>
</dict>
</plist>
