#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=VRL-Studio
Comment=Visual Programming Environment
Exec=/home/miho/VRL-Deployment/Praktikum-Herbst-2011/VRL-Studio/.application/../run -file %f
MimeType=application/x-vrlp
Icon=/home/miho/VRL-Deployment/Praktikum-Herbst-2011/VRL-Studio/.application/resources/mime/vrl-app-icon.png
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=0